.App {
  text-align: center;
}

.app-container {
  width: 100vw;
  min-height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  justify-content: left;
  align-items: left;
}

.right {
  justify-content: right;
  align-items: right;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.base-component {
  background-color: white;
  border: 3px solid black;
  border-radius: 15px;
  margin: 20px;
  padding: 15px 40px 15px 40px;
  text-align: center;
  font-size: 22px;
}

.no-border {
  border: 0;
}

.column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

h3 {
  font-size: 28px;
  font-weight: 400;
  margin: 14px 0;
}
