.welcome-logo {
  height: 300px;
  width: 300px;
  margin: 40px;
}

.input-half-container {
  flex: 1;
  width: 200px;
}

.input-half-container:first-child {
  margin-right: 50px;
}

.input-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.sized-box {
  width: 50px;
}

.input-box {
  margin-left: 0;
  margin-right: 0;
  text-align: left;
}

.input-title {
  font-size: 18px;
  padding-left: 20px;
}

.input-error-msg {
  font-size: 18px;
  padding-left: 20px;
  color: red;
  margin-top: 0;
}

.input-box::placeholder {
  text-align: center;
}

.score-input-box {
  padding: 10px 0;
  width: 65px;
  text-align: center;
}

.text-area-box {
  text-align: left;
  resize: none;
  width: 100%;
  border-radius: 50px;
  box-sizing: border-box;
  font-family: sans-serif;
}

button:hover {
  background-color: rgb(232, 229, 229);
}

.body-box {
  padding: 50px;
  border-radius: 60px;
  width: 500px;
}

.body-container {
  width: 100%;
  justify-content: start;
}

.nav-container {
  left: 0;
  top: 0;
  width: 300px;
  border-right: 3px solid black;
  height: 100vh;
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
}

.content-container {
  margin-left: 300px;
  width: calc(100vw - 300px);
  height: 100vh;
  padding: 40px 60px;
  justify-content: start;
  box-sizing: border-box;
}

.body-header-container {
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
}

.icon-header {
  display: flex;
  align-items: right;
  margin-left: auto;
}

.detail-box-container {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  border: solid black 3px;
  border-radius: 70px;
  margin: 20px 0;
  padding: 15px 40px;
}

.detail-title-container {
  text-align: right;
}

.detail-box-container h1 {
  flex: 1;
  font-size: 32px;
  font-weight: 400;
}

.detail-box-container p {
  font-size: 20px;
  text-align: justify;
}

.detail-button-title-container {
  text-align: center;
}

.report-box-container {
  box-sizing: border-box;
  width: 50%;
  height: auto;
  border: solid black 3px;
  border-radius: 70px;
  margin: 20px 0px;
  padding: 15px 40px;
}

.report-title-container {
  text-align: left;
}

.report-box-container h1 {
  flex: 1;
  font-size: 32px;
  font-weight: 400;
}

.course-container {
  margin: 20px 0;
  padding: 15px 40px;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}

.course-title {
  flex: 5;
  align-items: start;
}

.course-time {
  flex: 2;
  margin-top: auto;
  align-items: start;
}

.course-arrow {
  flex: 4;
  justify-content: end;
  align-items: center;
}

.course-container div.course-arrow h1 {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 400;
  margin: 0 20px;
}

.course-container h1 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.course-container h2 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
}

.table-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  border: solid black 3px;
  border-radius: 70px;
  margin: 20px 0;
}

.action-container {
  justify-content: space-evenly;
}

.add-student-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 500;
}

.icon-img {
  height: 60px;
  width: 60px;
  margin: 10px;
}

.stat-graph-container {
  box-sizing: border-box;
  width: 100%;
  height: 500px;
  border: solid black 3px;
  border-radius: 70px;
  margin: 20px 0;
  padding: 40px;
}

.stat-details {
  width: 80%;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}

.stat-text:nth-child(1) {
  flex: 3;
  margin: 10px 20px;
  text-align: right;
}

.stat-text:nth-child(2) {
  flex: 1;
  margin: 10px 20px;
  text-align: center;
}

.stat-text:nth-child(3) {
  flex: 3;
  margin: 10px 20px;
  text-align: left;
}

img {
  height: 120px;
  width: 120px;
  margin: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: auto;
}

td,
th {
  border-left: solid black 3px;
  padding: 10px 20px;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
}

td {
  font-weight: 400;
}

th {
  border-top: none;
  border-bottom: solid black 3px;
}

td:first-child,
th:first-child {
  border-left: none;
}
