.input-container {
  display: flex;
  flex-direction: column;
  text-align: left;

}

.input-box {
  margin-left: 0;
  margin-right: 0;
  text-align: left;
}

.input-title {
  font-size: 18px;
  padding-left: 20px;
}

.input-box::placeholder{
  text-align: center;
}

button:hover{
  background-color: rgb(232, 229, 229);

}

.body-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border-radius: 60px;
}

img {
 
  height: 120px;
  width: 120px;
  margin: 20px;
}